[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
python-telegram-bot = "==13.12"
python-decouple = "*"
psycopg2 = "*"
schedule = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
